.board {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(10, 300px);
  padding: 16px;
  gap: 16px;
  align-items: stretch;
}

.column {
  background-color: #ddd;
  height: 100%;
  padding: 4px;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.columnHeader {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 8px;
}

.columnInner {
  background-color: aliceblue;
  padding: 2px;
}

.card {
  margin-bottom: 4px;
  padding: 6px 8px;
  position: relative;
  user-select: none;
  transition: box-shadow 100ms ease-in;
  cursor: move;
}
.card-0 {
  background: #00ff0030;
}
.card-1 {
  background: #ff8c0030;
}
.card-2 {
  background: #ff000030;
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow 100ms ease-out;
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
}

.card-0:after {
  background: green;
}
.card-1:after {
  background: orange;
}
.card-2:after {
  background: red;
}

.cardTitle {
  font-size: 18px;
}

.cardUsers {
  margin-top: 10px;
}

.cardUserTitle {
  font-weight: 700;
}

.cardUser {
  font-style: italic;
}

.addNewTask {
  border: 2px dashed blueviolet;
  background-color: #0000ff11;
  display: block;
  width: calc(100% - 64px);
  margin: 24px auto;
  padding: 24px;
  font-size: 24px;
  cursor: pointer;
}

.addNewTask:hover {
  color: #0000ff;
}
